.protfolio_top h4{
    /* margin-top: 1rem; */
    letter-spacing: 4px;
    position: relative;
}

.protfolio_top h4::after{
    content: "";
    width: 54rem;
    height: 2px;
    background-color: #7d7789;;
    border-radius: 10px;
    right: 40px;
    top: 50%;
    position: absolute;
}
