.nav_img{
width: 80px;
}
ul li{
    color: white;
    list-style: none;
    margin-left: 5px;
}

.name_title{
    font-size: 50px;
    font-weight: bold;
    
}
.offcanvas-body {
    flex-grow: 1;
    padding: 20px !important;
    overflow-y: auto;
}
.offcanvas-end{
    width: 205px !important;
    /* background-color: #F3F3F3 !important; */
    border: none !important;
    /* height: 400px !important; */
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: black !important;
    font-size: 18px !important;
    font-weight: lighter !important;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* text-align:  !important; */
}

.nav-link:hover{
   color: darkgrey !important;
}
.navber_icons a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 5px;

}