body {
  margin: 0;
  /* font-family: 'Poppins'; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3F3F3;
}
 p{
  color:#9B9BA3;
  font-size: 17px;
  letter-spacing: .05em;
  line-height: 1.85em;
  font-weight: lighter;

}
h4{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
